#one {
	display: inline-block;
	width: 150px;
	height: 150px;
	background: linear-gradient(to left, yellow, green);
	border: 2px dashed blue;
}
#two {
	display: inline-block;
	width: 150px;
	height: 150px;
	background: linear-gradient(to left, royalblue, yellow);
	border: 2px dashed blue;
}
#thr {
	display: inline-block;
	width: 150px;
	height: 150px;
	background: linear-gradient(to left, purple, royalblue);
	border: 2px dashed blue;
}
#four {
	display: inline-block;
	width: 150px;
	height: 150px;
	background: linear-gradient(to left, orange, purple);
	border: 2px dashed blue;
}
#five {
	display: inline-block;
	width: 150px;
	height: 150px;
	background: linear-gradient(to left, red, orange);
	border: 2px dashed blue;
}
